version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: pg
    environment:
      POSTGRES_DB: pg
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
